<div class="container">
  <div class="col-md-12">
    <div class="row">
      <h4>
        Configuracion del Equipo
      </h4>
    </div>
    <div class="row">

      <form [formGroup]="formGroup" (submit)="submit(formGroup.value)">
        <div class="form-group">
          <label for="calibration_factor_celda">Factor Celda - Valor Actual {{valuesNow.celda}}</label>
          <input type="text" class="form-control" id="calibration_factor_celda" formControlName="calibration_factor_celda">
          <div class="alert alert-danger" *ngIf="formGroup.get('calibration_factor_celda').invalid && formGroup.get('calibration_factor_celda').dirty">
              "Debe ingresar este valor"
          </div>
        </div>
        <div class="form-group">
          <label for="tipoMuestra">Factor Calibracion LDVT 0 - Valor Actual {{valuesNow.lvdt0}}</label>
          <input type="text" class="form-control" id="calibration_factor_ldvt0" formControlName="calibration_factor_ldvt0">
          <div class="alert alert-danger" *ngIf="formGroup.get('calibration_factor_ldvt0').invalid && formGroup.get('calibration_factor_ldvt0').dirty">
              "Debe ingresar este valor"
          </div>
        </div>
        <div class="form-group">
          <label for="temperaturaEnsayo">Factor Calibracion LDVT 1 - Valor Actual {{valuesNow.lvdt1}}</label>
          <input type="text" class="form-control" id="calibration_factor_ldvt1" formControlName="calibration_factor_ldvt1">
          <div class="alert alert-danger" *ngIf="formGroup.get('calibration_factor_ldvt1').invalid && formGroup.get('calibration_factor_ldvt1').dirty">
              "Debe ingresar este valor"
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">Guardar</button>
            </div>
            <div class="col-md-4">
                <a class="btn btn-primary active" role="button" aria-pressed="true" (click)="cancel()">Cancelar</a>
              </div>
        </div>
      </form>

    </div>
  </div>
</div>