<div class="row">
    <div class="col-md-6">
      <form [formGroup]="formGroup">
          <div class="form-group">
              <label for="timeSelected">Periodo entre muestras</label>
                <select class="form-control" id="value" formControlName="timeSelected" class="custom-select">
                    <option [ngValue]="1">1 Seg</option>
                    <option [ngValue]="10">10 Seg</option>
                    <option [ngValue]="60">1 Min</option>
                    <option [ngValue]="600">10 Min</option>
                    <option [ngValue]="900">15 Min</option>
                    <option [ngValue]="1800">30 Min</option>
                    <option [ngValue]="3600">1 Hora</option>
                  </select>
            </div>
      </form>
    </div>
  </div>