<div class="row">
    <div class="col-md-6">
      <form [formGroup]="formGroup">
          <div class="form-group">
              <label for="timeSelected">Periodo entre muestras</label>
                <select class="form-control" id="value" formControlName="timeSelected" class="custom-select">
                    <option [ngValue]="0">1 Seg</option>
                    <option [ngValue]="1">10 Seg</option>
                    <option [ngValue]="2">1 Min</option>
                    <option [ngValue]="3">10 Min</option>
                    <option [ngValue]="4">15 Min</option>
                    <option [ngValue]="5">30 Min</option>
                    <option [ngValue]="6">1 Hora</option>
                  </select>
            </div>
      </form>
    </div>
  </div>