<div class="container">
  <div class="col-md-12">
    <div class="row">
      <h3>Ensayos</h3>
    </div>
    <div class="row">
      <div class="col-md-1">
        <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/job']">Nuevo</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/settings']">Configuracion</button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">Ensayos</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let job of jobs">
              <td>{{job}}</td>
              <td><a href="#" class="fa fa-eye" aria-hidden="true"></a>
                <a  href="#" class="fa fa-trash" aria-hidden="true"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>



</div>