<div class="container">
  <div class="col-md-12">
    <div class="row">
      <h3>Ensayos</h3>
    </div>
    <div class="row">
      <div class="col-md-1">
        <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/job']">Nuevo</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/settings']">Configuracion</button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fecha</th>
              <th scope="col">Observaciones</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td><a class="fa fa-eye" aria-hidden="true"></a>
                <a class="fa fa-trash" aria-hidden="true"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>



</div>