<div class="row">
    <div class="col-md-6">
      <form [formGroup]="formGroup">
        <div class="form-group">
          <label for="lvdt0">LVDT 1</label>
          <input type="text" class="form-control" id="lvdt0" formControlName="lvdt0">
          <div class="alert alert-danger" *ngIf="formGroup.get('lvdt0').invalid && formGroup.get('lvdt0').dirty">
            "Debe ingresar este valor"
          </div>
        </div>
        <div class="form-group">
            <label for="lvdt1">LVDT 2</label>
            <input type="text" class="form-control" id="lvdt1" formControlName="lvdt1">
            <div class="alert alert-danger" *ngIf="formGroup.get('lvdt1').invalid && formGroup.get('lvdt1').dirty">
              "Debe ingresar este valor"
            </div>
          </div>
      </form>
    </div>
  </div>
