<div class="container">
  <div class="row">

    <div class="class col-md-12">
      <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="ensayoTipoFromGroup">
          <ng-template matStepLabel>Tipo de Ensayo</ng-template>
          <app-job-type-selection (typeSelected)="setFormulario($event)" [fromGroup]="ensayoTipoFromGroup"></app-job-type-selection>
          <div class="row mt-5 text-right">
              <div class="col-md-12">
              <button mat-button matStepperNext class="btn btn-primary">Siguiente</button>
            </div>
          </div>

        </mat-step>
        <mat-step [stepControl]="ensayoFormGroup">
          <ng-template matStepLabel>Datos</ng-template>
          <div class="row">
            <div class="col-md-4">
              <ng-container [ngSwitch]="ensayoTipoFromGroup.get('tipoEnsayo').value">
                <app-job-aycf [formGroup]="ensayoFormGroup" *ngSwitchCase="'APERTURA_Y_CIERRE'"></app-job-aycf>
                <app-job-rigidez [formGroup]="ensayoFormGroup" *ngSwitchCase="'MODULO_RIGIDEZ'"></app-job-rigidez>
                <app-job-semiprobeta [formGroup]="ensayoFormGroup" *ngSwitchCase="'SEMI_PROBETA'"></app-job-semiprobeta>
              </ng-container>
            </div>
          </div>
          <div class="row mt-5 text-right">
              <div class="col-md-12">
            <button mat-button matStepperPrevious class="btn btn-primary">Atras</button>
            <button mat-button matStepperNext class="btn btn-primary">Siguiente</button>
          </div>
          </div>

        </mat-step>
        <mat-step [stepControl]="settingFormGroup">
          <ng-template matStepLabel>Configuracion del equipo</ng-template>
          <app-job-settings></app-job-settings>
          <div class="row mt-5 text-right">
            <div class="col-md-12">

              <button mat-button matStepperPrevious class="btn btn-primary">Atras</button>
              <button mat-button (click)="Run()" class="btn btn-warning">Comenzar</button>
            </div>
          </div>

        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>