<div class="row my-4 justify-content-center">
  <div class="col-md-12">
    <mat-card>
      <mat-card-title>Lecturas Actuales</mat-card-title>
      <mat-card-content>
        <app-lecturas
        [celda]="celda"
        [lvdt0]="lvdt0"
        [lvdt1]="lvdt1"
        ></app-lecturas>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-md-4 py-2">
    <mat-card>
      <mat-card-title>Celda</mat-card-title>
      <mat-card-content>
        <app-celda [formGroup]="formGroup"></app-celda>
      </mat-card-content>
      <mat-card-actions>
          <div class="row text-center">
              <div class="col-md-12">
                <button class="btn btn-secondary" (click)="setTara()">Tara</button>
                <button class="btn btn-secondary" (click)="setCelda()">Setear</button>
           </div>
          </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <mat-card-title>LVDTs</mat-card-title>
      <mat-card-content>
        <app-lvdts [formGroup]="formGroup"></app-lvdts>
      </mat-card-content>
      <mat-card-actions>
        <div class="row text-center">
          <div class="col-md-12">
            <button class="btn btn-secondary" (click)="setLVDTS()">Setear</button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <mat-card-title>Muestras</mat-card-title>
      <mat-card-content>
        <app-time-muestras [formGroup]="formGroup"> </app-time-muestras>
      </mat-card-content>
      <mat-card-actions>
        <div class="row text-center">
          <div class="col-md-12">
            <button class="btn btn-secondary" (click)="setIntervalWork()">Setear</button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>